body
{
  background-color: #7FE57F;
  margin: 0;
  height: 100%;
}
.top
{

  position:fixed;
   width:100%;
   height:100%;
   top:0px;
   left:0px;
   z-index:1000;
  background-color:black;
  width:100%;
  height:100%;
  opacity: 0.9;

}
.map
{
  /*flex: 60%; 1270 */
  /*Sets the height to be 98 viewport units so that it would fill the entire screen */
height: 905px;
width: 1270px;
display: block;
background-image: url("img/1200+px.png");
background-repeat: no-repeat;
background-size:  contain;
object-fit: contain;
padding-right: 5px;

}

.rowcustom {

  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;


}
#imgheader
{
  display: block;
  position: absolute;
  left:65%;
  top:15%;
  max-width: 500px;
}
#findText
{
  display: block;
  position: absolute;
  left:65%;
  top:20%;
  max-width: 500px;.
}
@keyframes incorect {
  50% {color:red;font-size: 2rem;max-width: 580px;}
  100% {color:black;font-size: 1.75rem;max-width: 500px;}
}


.church-img
{

  display: block;
  visibility:hidden;
  z-index: 5;
  left:65%;
  top:30%;

  max-width: 500px; /*actual image width*/
  height: auto;
  margin: auto; /*optional centering of image*/
  cursor: move;
  position: absolute;
}
.destination
{
position: absolute;
width: 30px;
height: 40px;


}
.destination:hover {
-webkit-filter: saturate(4);
-webkit-filter: contrast(180%);
}

@media only screen and (max-width: 1028px) {

  .map
  {
    background-image: url("img/600px.png");
    flex:60%;
  }
  .img-flex
  {
    flex:40%;
  }
  .church-img
  {
    max-width: 150px;
    left:65%;
  }
}
@media only screen and (max-width: 1350px) { /*neveikia kazkodel*/

  .church-img
  {
    max-width: 200px;
    left: 80%;
  }
  .img-flex
  {
    flex:20%;
  }
  .map
  {
    flex:80%;
  }
}
@media only screen and (max-width: 1500px) {

  #imgheader ,#findText
  {
    left:70%;
  }
  .church-img
  {
    max-width: 400px;
    left: 70%;
  }
  .img-flex
  {
    flex:32%;
  }
  .map
  {
    flex:68%;
  }
}
