.map
{
  flex: 65%;
  /*Sets the height to be 98 viewport units so that it would fill the entire screen */
height: 98vh;
min-width: 50vw;


background-image: url("img/1200+px.png");
background-repeat: no-repeat;
background-size:  cover;
object-fit: contain;
padding-right: 5px;
}
@media only screen and (max-width: 1028px) {

  .map
  {
    background-image: url("img/600px.png");
  }
}
.rowcustom {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;


}
.img-flex
{
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  flex:35%;
}
.church-img
{
  margin-top: 8px;
  display: block;
  visibility:hidden;
  width:80%;
  left:68%;
  top:30%;
  min-width:100px;
  max-width: 400px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto; /*optional centering of image*/
  cursor: move;
  position: absolute;
}
